.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 2;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__language {
  margin-right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #181A31;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
}

.header__language span {
  padding-right: 2px;
  opacity: 50%;
}

.header__socials {
  margin-right: 20.52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__socials img {
  width: 16px;
  height: 13.33px;
  cursor: pointer;
  opacity: 50%;
}

.header__socials img:not(:last-child) {
  margin-right: 20.55px;
}

.header__phone {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 16px;
  margin-right: 18.25px;
  border-right: 1px solid rgba(24, 26, 49, 0.1);
}

.header__number {
  font-size: 14px;
  line-height: 20px;
}

.header__ordercall {
  font-size: 12px;
  line-height: 18px;
  opacity: 50%;
}

.header__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #008EF8;
  margin-right: 20px;
  font-size: 14px;
}

.header__basket-img {
  margin-right: 10.25px;
}

.header__menu {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #008EF8;
  cursor: pointer;
  border: none;
}

.header__menu-wrapper {
  height: 18px;
  width: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-item {
  width: 100%;
  height: 1.5px;
  background-color: #fff;
}

.menu {
  width: 300px;
  height: 100%;
  padding: 24px 24px 42px 24px;
  background-color: #fff;
  position: absolute;
  right: 0;
  color: #181A31;
  display: none;
}

.menu__title {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 22px;
}

.menu__language {
  display: none;
}

.menu__language img {
  width: 5px;
  height: 5px;
}

.menu__search {
  position: relative;
}

.menu__search input {
  width: 100%;
  border-radius: 5px;
  background-color: rgba(170, 177, 183, 0.1);
  outline: none;
  border: none;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 10px;
  color: #000;
}

.menu__search input::-webkit-input-placeholder {
  color: #000;
  opacity: 0.4;
}

.menu__search input:-ms-input-placeholder {
  color: #000;
  opacity: 0.4;
}

.menu__search input::-ms-input-placeholder {
  color: #000;
  opacity: 0.4;
}

.menu__search input::placeholder {
  color: #000;
  opacity: 0.4;
}

.menu__search button {
  position: absolute;
  right: 15px;
  opacity: 50%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.menu__line {
  border-bottom: 1px solid #d2d9df;
  margin: 25px 0;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  right: 0;
}

.menu__line-phone {
  display: none;
}

.menu__list {
  margin-top: 50px;
}

.menu__list li {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.menu__list li a:hover {
  color: #008EF8;
}

.menu--visible {
  display: block;
  z-index: 10;
}

.menu__overlay {
  background: #181A31;
  position: fixed;
  inset: 0;
  height: 100%;
  opacity: 0.4;
  display: none;
  z-index: 1;
}

.menu__overlay--visible {
  display: block;
}

.menu__phone {
  margin-right: 0;
  padding-right: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
  border-right: none;
  display: none;
}

.menu__number {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #008EF8;
}

.menu__socials {
  position: absolute;
  right: 0;
  bottom: 70px;
  display: none;
}

.menu__socials img {
  width: 21px;
  height: 17px;
}

.menu__socials img:not(:last-child) {
  margin-right: 10px;
}

.menu__footer {
  width: 100%;
  padding-top: 0;
  position: -webkit-sticky;
  position: sticky;
}

.list__img {
  width: 5px;
  height: 5px;
  margin-bottom: 3px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header__language {
    display: none;
  }
  .header__socials {
    display: none;
  }
  .header__phone {
    display: none;
  }
  .header__basket {
    margin-right: 15px;
  }
  .header__basket-name {
    display: none;
  }
  .menu {
    width: 100%;
  }
  .menu--visible {
    padding-bottom: 0;
  }
  .menu__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu__title h2 {
    margin-right: 16px;
    margin-top: 0;
  }
  .menu__language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }
  .menu__search {
    width: 35%;
    position: absolute;
    left: 200px;
    top: 30px;
  }
  .menu__line {
    display: none;
  }
  .menu__line-phone {
    display: block;
    width: 112%;
    margin: -10px -25px;
  }
  .menu__list {
    margin-top: 0;
  }
  .menu__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 8px;
    margin-right: 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

ul {
  padding: 0;
}

ul > li {
  list-style: none;
}

.list span {
  cursor: pointer;
}

.list ul {
  margin-left: 8px;
  margin-top: 20px;
}

.show:hover {
  color: #008EF8;
}
/*# sourceMappingURL=style.css.map */